@model IEnumerable<CourseSelection.Models.Course>

<h2>Kurs Listesi</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<p>
    <a asp-action="CourseSelection"  class="btn btn-info btn-sm">seçim yap</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kurs Adı</th>
            <th>Kurs Kodu</th>
            <th>Kredi</th>
            <th>Zorunlu mu?</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            
            <tr>
                <td>@course.CourseName</td>
                <td>@course.CourseCode</td>
                <td>@course.Credit</td>
                <td>@(course.IsMandatory ? "Evet" : "Hayır")</td>
                
                
                    @using (Html.BeginForm("SelectCourse", "Student", FormMethod.Post))
                    {
                        @Html.Hidden("courseId", course.CourseID)
                        
                       
                    }
                
            </tr>
        }
    </tbody>
</table>


